
.home-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding-top: 60px;
  background: #A7C7E7;
  overflow: hidden;
  transition: background 0.3s ease;
}

body.dark-mode .home-container {
  background: #1a2332 url('../assets/star.gif') repeat;
  background-size: 200px 200px;
}

.title-cloud-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 10;
  position: relative;
  margin-top: 18rem;
  width: 100%;
}

.main-title {
  font-family: 'Jomhuria';
  font-size: 5rem;
  font-weight: 700;
  color: #808080;
  text-align: center;
  margin: 0 0 0.5rem 0;
  letter-spacing: -0.02em;
  display: block;
  z-index: 11;
  position: relative;
  width: fit-content;
}


.cloud-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -20rem;
  z-index: 10;
  position: relative;
  width: fit-content;
}

.main-cloud {
  width: 1000px;
  height: auto;
  opacity: 0.9;
  filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.1));
  display: block;
}

.background-clouds {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  pointer-events: none;
}


.bg-cloud {
  position: absolute;
  opacity: 0.4;
  filter: blur(1px);
}


.cloud-1 {
  width: 380px;
  top: 15%;
  left: -400px;
  animation: drift-right 60s linear infinite;
}

.cloud-2 {
  width: 350px;
  top: 10%;
  left: -400px;
  animation: drift-right 65s linear infinite;
  animation-delay: -10s;
}

.cloud-3 {
  width: 400px;
  top: 60%;
  left: -400px;
  animation: drift-right 70s linear infinite;
  animation-delay: -20s;
}

.cloud-4 {
  width: 370px;
  top: 20%;
  right: -400px;
  animation: drift-left 62s linear infinite;
  animation-delay: -8s;
}

.cloud-5 {
  width: 390px;
  top: 50%;
  right: -400px;
  animation: drift-left 68s linear infinite;
  animation-delay: -15s;
}

.cloud-6 {
  width: 360px;
  top: 70%;
  right: -400px;
  animation: drift-left 58s linear infinite;
  animation-delay: -25s;
}


@keyframes drift-right {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(100vw + 400px));
  }
}

@keyframes drift-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-100vw - 400px));
  }
}

/* Background Birds Container - Light Mode Only */
.background-birds {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  pointer-events: none;
}

body.dark-mode .background-birds {
  display: none;
}

/* Bird Base Styles */
.bird {
  position: absolute;
  opacity: 0.6;
  width: 300px;
  height: auto;
}

/* Individual Bird Positioning and Animation */
.bird-1 {
  top: 20%;
  right: -350px;
  animation: fly-left 40s linear infinite;
}

.bird-2 {
  top: 70%;
  right: -350px;
  animation: fly-right 45s linear infinite;
  animation-delay: -15s;
}

.bird-3 {
  top: 70%;
  right: -350px;
  animation: fly-left 50s linear infinite;
  animation-delay: -30s;
}

/* Bird Animation Keyframes - Fly from right to left */
@keyframes fly-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-100vw - 300px));
  }
}

body.dark-mode .main-title {
  color: #1a2332;
}

@media (max-width: 768px) {
  .home-container {
    padding-top: 50px;
  }

  .title-cloud-wrapper {
    margin-top: 18rem;
  }

  .main-title {
    font-size: 3.5rem;
    margin: 1rem 0 0.5rem 0;
  }

  .cloud-wrapper {
    margin-top: -13rem;
  }

  .main-cloud {
    width: 600px;
  }

  .cloud-1, .cloud-2, .cloud-3, .cloud-4, .cloud-5, .cloud-6 {
    width: 100px;
  }

  .bird {
    width: 150px;
  }
}

@media (max-width: 480px) {
  .title-cloud-wrapper {
    margin-top: 18rem;
  }

  .main-title {
    font-size: 3rem;
    margin: 1rem 0 0.5rem 0;
  }

  .main-cloud {
    width: 500px;
  }

  .cloud-wrapper {
    margin-top: -13rem;
  }
}

